*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
#topo{
    width: 80px;
    margin-left: 900px;
    margin-top: 30px;
}
*{
    font-family: 'poppins', sans-serif;
 }

 .up{
    margin: 0px 0px 20px 40px;
 }

 .ai{
    margin-top: 30px;
    margin-left: 10px;
 }

.sem{
    margin: 40px;
    font-style: italic; 
}

i{
    font-size: 24px;
    margin: 0px 0px 10px 10px;  
}

a{
    color: #ffffff;
}

.pfooter{
    color: #909090; font-size: 12.8px; 
    display: block;
    margin-left: 10px;
       
}

.end{
    color: #909090; font-size: 12.8px; 
    display: block;
    margin-top: 20px;
}

 .title{
    color: #eaeade; font-size: 28.8px; 
 }

 .box{
    color: #909090; font-size: 12px;
    display: inline-block;
    margin: 40px;
    padding: 40px;
 }

.b{
    background-color: var(--dark-gray); color: var(--steel-gray);
    width: 100%;
    margin: 10px;
}

.icones{
    margin-left: 5.2px;
    margin-right: 5.2px;  
}

li{
    display: inline-block;
}

ul{
    padding-top: 24px;
}

.lala {    
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;     
}

.lala > label{
    display: block;
}

.lala > input{
    display: block;   
}

#email{
    width: 107%;
}

.haha{
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;    
}

.haha > label{
    display: block;
}

.haha > input{
    display: block;
}
.oi{
  display: inline-block;
}
